footer {
  text-align: center;
  /* background: url("https://wallpaperaccess.com/full/1425559.jpg"); */
  background: #86d6c5;
  padding: 40px 0;
}

footer img {
  width: 100px;
}

.copyright {
  color: black;
  font-size: 13px;
  margin-top: 20px;
}

.social-menu {
  position: relative;
  margin-top: 20px;
  margin-bottom: 70px;
}

.social-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
/* .social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999; //FACEBOOK
} */
/* .social-menu ul li:nth-child(1) a:hover {
  background-color: #25d366; //WHATSAPP
} */
.insta-icon:hover {
  background-color: #e4405f; /* INSTAGRAM */
}
.book-icon:hover {
  background-color: #f1c960; /* BOOK NOW */
}

.review-icon:hover {
  background-color: gold; /*REVIEWS */
}

.yelp-icon:hover {
  background-color: #c41200; /*YELP*/
}

@media screen and (max-width: 480px) {
  .social-menu {
    width: auto;
  }

  footer {
    padding: 20px 2%;
  }

  .social-menu ul li a {
    width: 40px;
    height: 40px;
  }

  .social-menu ul li .fa {
    font-size: 22px;
    line-height: 40px;
  }

  .copyright {
    margin-bottom: 5%;
  }
}
