/* HEADER */

header {
  position: relative;
  background: #beece2;
  padding: 10px;
}

.box {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

.logoHeader {
  width: 200px;
  height: auto;
}

#logoMobile {
  display: none;
}

.box nav {
  position: absolute;
  top: 50%;
  right: 0px;
}

.box nav li {
  display: inline;
  /* margin: 0px 0px 0px 30px; */
  padding: 0 10px;
}

.box nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

.box nav li:last-of-type {
  background-color: #f1c960;
  border-radius: 20px;
  transition: 0.5s;
}

.box nav li:last-of-type:hover {
  opacity: 80%;
}

.box nav li:last-of-type:active {
  opacity: 60%;
}

#banner {
  display: block;
  width: 100%;
}

.box nav a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  .box {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  .logoHeader {
    width: 35%;
  }

  #logoMobile {
    display: none;
  }

  .box nav {
    position: static;
    text-align: center;
    margin: 0 auto;
  }

  .box nav a {
    font-size: 16px;
  }

  .box nav li:last-of-type {
    background-color: #d4bdcf;
    border: black 1px solid;
  }
}
