/* HEADER */

header {
  position: relative;
  background: #beece2;
  padding: 10px;
}

.box {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

header img {
  width: 200px;
  height: auto;
}

.box nav {
  position: absolute;
  top: 50%;
  right: 0px;
}

.box nav li {
  display: inline;
  margin: 0px 0px 0px 30px;
}

.box nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}

.box nav li:last-of-type {
  background-color: #f1c960;
  padding: 15px;
  border-radius: 20px;
}

.box nav li:last-of-type:hover {
  opacity: 90%;
}

.box nav li:last-of-type:active {
  opacity: 80%;
}

#banner {
  display: block;
  width: 100%;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  .box {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  .box nav {
    position: static;
    text-align: center;
    margin: 10px 0;
  }

  .box nav a {
    font-size: 16px;
  }

  .box nav li:last-of-type {
    display: none;
  }
}
