/* HEADER */

header {
  position: relative;
  background: #86d6c5;
  padding: 10px;
}

.box {
  position: relative;
  width: 90%;
  margin: 15px auto;
}

.logoHeader {
  width: 8rem;
  height: auto;
}

.logoHeader--mobile {
  display: none;
}

#logoMobile {
  display: none;
}

.box nav {
  position: absolute;
  top: 50%;
  right: 0px;
}

.box nav li {
  display: inline;
  /* margin: 0px 0px 0px 30px; */
  padding: 0 10px;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
}

.nav-link {
  color: black !important;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}

.box nav li:last-of-type {
  background-color: #f8c84e;
  border-radius: 7px;
  transition: 0.5s;
}

.box nav li:last-of-type:hover {
  opacity: 70%;
}

.box nav li:last-of-type:active {
  opacity: 60%;
}

#banner {
  display: block;
  width: 100%;
}

.nav-item:hover {
  color: rgba(0, 0, 0, 0.747);
  text-decoration: underline;
}

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {
  .box {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  .logoHeader {
    width: 35%;
    display: none;
  }

  .logoHeader--mobile {
    display: inline;
    width: 40%;
    margin: 0;
  }

  .box nav {
    position: static;
    text-align: center;
    margin: 0 auto;
  }

  .box nav a {
    font-size: 16px;
  }

  .box nav li:last-of-type {
    background-color: #d4bdcf;
    border: black 1px solid;
  }
}
