/* BODY */
main {
  position: relative;
  background: linear-gradient(#fefefe, #86d6c5);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.banner {
  width: 100%;
}

.bookNow-banner img {
  width: 30%;
  margin: 5px;
  transition: 400ms;
  opacity: 100%;
  box-shadow: 5px 5px 20px 0px black;
}

.bookNow-banner img:hover {
  opacity: 80%;
}

.main-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 1em 0;
  clear: left;
  text-shadow: 2px 2px lightblue;
}

.main-title::first-letter {
  font-weight: bold;
}

/* .main-title::before {
  content: "[ ";
}

.main-title::after {
  content: " ]";
} */

/* ABOUT */

.about,
.map {
  margin: 25px auto;
  width: 940px;
}

.wax-utensils {
  width: 180px;
  float: left;
  margin: 0 20px 20px 0;
}

.about p {
  margin: 1em;
}

#mission {
  font-size: 22px;
}

main strong {
  color: #099b7b;
}

/* MAP */

.my-map {
  padding: 3em 0;
}

.map iframe {
  width: 60%;
}

.map p {
  text-align: center;
  margin-bottom: 2em;
}

.map a {
  color: black;
  font-weight: bold;
}

.map a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.open-hours {
  width: 35%;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.open-hours h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.open-hours ul li {
  display: inline-block;
  padding: 1em 0;
}

.day-of-week {
  font-weight: bold;
  font-size: 16px;
}

.open-hours li:nth-child(2n) {
  font-size: 14px;
}

/* PRODUCTS */

.products {
  background: #fefefe;
  padding: 3em 0;
  width: 95%;
  border: saddlebrown solid 3px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: inset 0 0 75px lightblue;
}

.products-content {
  width: 40%;
  margin: 0 auto;
}

.products-list {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.brigadeiros-image {
  width: 60%;
  opacity: 100%;
  transition: 400ms;
  box-shadow: 10px 10px 30px 0px black;
  /* box-shadow: 10px 10px 30px 20px black, -10px -10px yellow, -20px 20px rgba(255, 0, 0, 0.5); */
}

.brigadeiros-image:hover {
  opacity: 80%;
}

.itens {
  font-size: 1.1em;
  line-height: 1.5;
}

.itens:first-child {
  font-size: 1.3em;
  font-weight: bold;
}

.itens::before {
  content: "★ ";
}

.video {
  width: 40%;
  margin: 3em auto;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  .about,
  .map,
  .video,
  .products-list {
    width: auto;
  }

  .brigadeiros-image,
  .products-content,
  .video,
  .map iframe,
  .open-hours {
    width: 99%;
    text-align: center;
  }

  .wax-utensils {
    margin-left: 5%;
  }

  .my-map,
  .products {
    padding: 0;
  }

  .open-hours {
    padding: 1em 0;
  }

  .products-list li,
  .products-content img {
    padding: 7px 0;
    box-shadow: none;
  }

  .bookNow-banner img {
    width: 100%;
    margin: 0px;
    box-shadow: none;
  }
}
/* .itens:nth-child(2n) {
  font-weight: bold;
} */

/* CSS ADVANCED SELECTORS */

/* ">" SELECIONA APENAS FILHOS DIRETOS */
/* main > p {
  background-color: red;
} */

/* SELECIONA PROXIMO IRMAO */
/* img + p {
  background: blue;
} */

/* img ~ p {
  background: chartreuse;
} */

/* NAO INCLUI O QUE ESTA ENTRE () */
/* .about p:not(#mission) {
  background: purple;
} */
