main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px auto;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-default {
  display: block;
  margin: 0 0 10px;
  padding: 10px 10px;
  width: 50%;
}

.message-field {
  padding-bottom: 10rem;
}

.checkbox {
  margin: 25px auto;
}

.send {
  width: 40%;
  padding: 15px 0;
  background: #2bcba7;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  transition: 0.8s all;
  cursor: pointer;
}

.send:hover {
  background-color: #86d6c5;
  color: black;
  font-size: 20px;
  transform: scale(1.1);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #2bcba7;
  color: black;
  font-weight: bold;
}

td,
th {
  border: 1px solid black;
  padding: 8px 15px;
  text-align: center;
}

tfoot {
  font-size: 18px;
  font-weight: bolder;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  main {
    width: auto;
    text-align: center;
  }

  .input-default {
    width: 90%;
    padding: 10px 5px;
    margin: 15px auto;
  }

  fieldset legend {
    padding: 10px 0;
  }

  fieldset label {
    text-align: start;
    margin: 20px 15%;
  }

  fieldset select {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
  }

  .send,
  select,
  table {
    width: 80%;
  }

  table {
    margin: 40px 10% 20px;
  }
}
