/* HEADER */

header {
  position: relative;
  background: var(--light--green);
  padding: 10px;
}

.box {
  align-items: center;
  border-bottom: 2px solid var(--header--hover);
  display: flex;
  margin: 25px auto;
  justify-content: space-between;
  width: 98%;
}

.logoHeader {
  width: 8rem;
  height: auto;
}

.logoHeader--mobile {
  display: none;
}

#logoMobile {
  display: none;
}

.nav-item {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  text-decoration: none;
  text-transform: lowercase;
}

.nav-item .nav-link:hover {
  color: var(--header--hover) !important;
  text-decoration: underline;
}

.nav-link {
  color: var(--della--black) !important;
  transition: 0.5s;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}

.btn--book {
  background-color: var(--della--yellow);
  border-radius: 7px;
  transition: 0.5s;
}

.btn--book:hover {
  opacity: 90%;
}

.btn--book:active {
  opacity: 60%;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 768px) {
  .box {
    width: auto;
    border-bottom: none;
  }

  .logoHeader {
    display: none;
  }

  .logoHeader--mobile {
    display: inline;
    width: 40%;
    margin: 0;
  }

  .box nav {
    position: static;
    text-align: center;
    margin: 0 auto;
  }

  #navbarSupportedContent {
    padding-top: 2rem;
  }

  .nav-link {
    font-size: 16px;
  }

  .box nav li:last-of-type {
    background-color: var(--light--pink);
    border: black 1px solid;
  }
}
