a,
p {
  color: black;
  text-decoration: none;
}

.products {
  display: flex;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

h2,
.bookNow-button,
.products li {
  transition: 400ms;
}

.service {
  width: 40%;
}

.products li {
  border: black 3px solid;
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-block;
  margin: 1em 1.5%;
  text-align: center;
  padding: 30px 20px;
  vertical-align: top;
  width: 100%;
}

.products img {
  padding: 2px 0;
}

.products li:hover {
  border-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
}

.products li:hover .bookNow-button {
  font-size: 30px;
  background-color: #f1c960;
}

.products li:hover h2 {
  font-size: 32px;
}

.products h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.bookNow-button {
  padding: 10px 0px;
  border: black solid 2px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  background-color: #d4bdcf;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  .container {
    width: 98%;
  }

  .service {
    width: 100%;
  }

  .products {
    flex-direction: row;
  }
}
