a,
p {
  color: black;
  text-decoration: none;
}

.products {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

h2,
.bookNow-button,
.products li {
  transition: 400ms;
}

.products li {
  display: inline-block;
  text-align: center;
  width: 45%;
  vertical-align: top;
  margin: 1em 1.5%;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  border: black 3px solid;
  border-radius: 10px;
}

.products img {
  padding: 2px 0;
}

.products li:hover {
  border-color: rgba(0, 0, 0, 0.8);
}

.products li:hover .bookNow-button {
  font-size: 30px;
  background-color: #f1c960;
}

.products li:hover h2 {
  font-size: 32px;
}

.products h2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.product-description {
  font-size: 16px;
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.bookNow-button {
  padding: 10px 0px;
  border: black solid 2px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bolder;
  background-color: #d4bdcf;
}

/* MOBILE RESPONSIVE */

@media screen and (max-width: 480px) {
  .products {
    width: auto;
    padding: 5%;
  }

  .products li {
    display: block;
    width: auto;
    margin: 10px 0;
  }

  main ul a {
    text-decoration: none !important;
  }
}
