@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,900&display=swap");

:root {
  /*========== Colors ==========*/
  --light--green: #86d6c5;
  --della--green: #2bcba7;
  --darker--green: #057e63;
  --della--yellow: #f1c960;
  --light--pink: #d4bdcf;
  --della--black: #111;
  --header--hover: rgba(0, 0, 0, 0.432);
  --della--white: #fefefe;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

.container {
  width: 80%;
}